body{
    background-image: url(depositphotos_610959444-stock-illustration-bakery-bread-template-design-with.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}